body{
    background-color:#f2ebe3;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div.cont{
    width: 600px;
    display: flex;
}

div.cont img{
    width: 250px;
    height: 350px;
}

.lineT{
    text-decoration: line-through;
    margin-left: 5px;
    color: #6c7289;
}
.beli h2{
    color: #3c8067
 
}
.button{
    background-color: #3c8067;
    color: #fff;
}
.kata {
    background-color: white;
    padding-left: 50px;
    margin: 10px;
    padding: 13px;
    width: 200px;
    height: 9%;
    
} 
    
    

.beli{
    display: flex;
}



